# ===============================
# Virtual environments
# ===============================
dental_env/
venv/
env/

# ===============================
# Large datasets / generated data
# ===============================
images/
masks/
cropped_images/
raw_subjects/
batch_results/
ensemble_results/

# ===============================
# Model weights (DO NOT UPLOAD)
# ===============================
*.pth

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

# ===============================
# Jupyter / OS / Editor
# ===============================
.ipynb_checkpoints/
.DS_Store
.env
.vscode/
