# Virtual environment
dental_env/
venv/

# Large datasets
images/
masks/
cropped_images/
raw_subjects/
batch_results/

# Python cache
__pycache__/
*.pyc

# Jupyter / OS
.ipynb_checkpoints/
.DS_Store
venv/
__pycache__/
.ipynb_checkpoints/
.env
.DS_Store

